h1  {
  color:#ff0000;
  font-size: 40px;
  font-family: serif;

  height:80px;
  width: 500px;
  background-color: #9de8ea;
  padding: 0 0;
}

p   {
  color: #0000ff;
  font-size: 20px;
  font-family: inherit;
}

img {
  height:200px;
  width: 500px;

}

ul  {
  margin-top: 0px;
  margin-bottom: 0px;
}




body    {
  font-family: "Avenir Next";
}

.header {
  background-color: #f7f2b4;
  height:90px;
}

.header-logo  {
    font-size: 36px;
    float: left;
    padding: 20px 40px;
}

.header-list li{
  list-style: none;
  float: left;
  padding: 33px 20px;
}


.main {
    background-color: #bdf7f1;
    height:600px;
}

.footer {
  background-color: #ceccf3;
  height:270px;
}
